:root {

/* Colores */
--white: #fafafa;
--black: #101518;
--primary-color: #f04e6d;

/* Tipografia */
--h1:30px;
--h2:20px;
--h3:16px;
--p:16px;
/* Espacios */

--space-1:8px;
--space-2:calc(var(--space-1)*2);
--space-3:calc(var(--space-1)*3);;
}